<?xml version="1.0"?>
<config>
    <modules>
        <SNH_ShipMailInvoice>
            <version>0.1.0</version>
        </SNH_ShipMailInvoice>
    </modules>

	<global>
		<events>
			<!-- Event to attach observer to -->
			<core_block_abstract_to_html_before>
				<observers>
				<SNH_ShipMailInvoice>
					<type>singleton</type>
					<!-- Observer location (e.g. SW/GridExample/Model) -->
					<class>SNH_ShipMailInvoice_Model_Observer</class>
					<!-- Function to call -->
					<method>addMassAction</method>
				</SNH_ShipMailInvoice>
				</observers>
			</core_block_abstract_to_html_before>
		</events>
	
	      <models>
            <shipping>
                <rewrite>
                    <carrier_freeshipping>SNH_ShipMailInvoice_Model_Freeshipping</carrier_freeshipping>
                </rewrite>
            </shipping>
 
            <payment>
                <rewrite>
                    <payment_banktransfer>NH_ShipMailInvoice_Model_Method_Banktransfer</payment_banktransfer>
                </rewrite>
            </payment>
        </models>
	
	
	
	</global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!-- Override Adminhtml module here. -->
                        <SNH_ShipMailInvoice_Adminhtml before="Mage_Adminhtml">SNH_ShipMailInvoice_Adminhtml</SNH_ShipMailInvoice_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

	<models>
		<shipping>
			<rewrite>
				<ship_config>SNH_ShipMailInvoice_Model_Shipping_Config</ship_config>
			</rewrite>                
		</shipping>
		<sales>
			<rewrite>
				<quote_address>SNH_ShipMailInvoice_Model_Sales_Quote_Address</quote_address>
			</rewrite>
		</sales>
	</models>

</config>


